.sign-up-section {
  background-image: url('./sign-in-up-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.sign-up-section .homepage-link {
  position: absolute;
  display: block;
  right: 2%;
  top: 4.7%;
  color: rgb(0, 0, 0);
  opacity: 0.3;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.sign-up-section .homepage-link:hover {
  opacity: 0.8;
}

.sign-up-section .homepage-link::before {
  content: '\2190'; 
  font-size: 24px;
}


.sign-up-container {
  width: 27vw;
  float: right;
  margin-left: 59vw;
  padding: 20px;
}

.sign-up-container h2 {
  color: #4CAF50;
  text-align: center;
}

.sign-up-input-container {
  margin-bottom: 10px;
}

.sign-up-input-container .password-toggle-button {
  position: absolute;
  background-color: aliceblue;
  color: gray;
  font-size: 18px;
  top: 48.8vh;
  width: 34px;
  height: 34px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  margin-left: 11.2vw;
}

.sign-up-input-container .password-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sign-up-input-container .confirm-password-toggle-button {
  position: absolute;
  background-color: aliceblue;
  color: gray;
  font-size: 18px;
  top: 59.5vh;
  width: 34px;
  height: 34px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  margin-left: 11.2vw;
}

.sign-up-input-container .confirm-password-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  color: #4CAF50;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 5px;
}

.sign-up-input {
  background-color: aliceblue;
  color: black;
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.sign-up-button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #45a049;
}

.sign-up-container p {
  color: black;
}

.sign-up-container a {
  color: #4CAF50;
}