.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-title {
  font-size: 28px;
  margin: 10px 0;
  text-align: center;
  color: #333;
}

.custom-option {
  margin: 20px 0;
}

.custom-option ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.custom-option ul li {
  margin-bottom: 10px;
}

.custom-option ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}


.m-custom-option-detail {

  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;

}


.m-detail-item {
  width: calc(33.33% - 20px);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.m-detail-item h2 {
  font-size: 20px;
  margin: 10px 0;
}

.m-image {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.m-detail-item p {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.m-custom-bill {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.m-custom-bill-detail {
  text-align: center;
}

.m-custom-bill-detail h2 {
  font-size: 18px;
}

.m-custom-bill-detail strong {
  font-weight: bold;
}

.m-custom-bill-detail h4 {
  margin-top: 10px;
}

.btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #218838;
}

.m-custom-bill {
  display: flex;
}

.m-custom-option-detail {
  display: flex;
}

.m-container {
  width: 100%;
}

.m-custom-option-detail-list {
  display: flex;
}

.m-custom-cancel {
  text-align: center;
}

.m-custom-cancel button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.m-custom-cancel button:hover {
  background-color: brown;
}