.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-title {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.custom-option ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-option li {
  margin: 0 20px;
}

.custom-option a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.custom-option a:hover {
  color: green;
}


.custom-size-option-detail {
  flex: 7;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.custom-size-option-detail-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* Khoảng cách giữa các mục sản phẩm */
}

.custom-size-detail-item {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}



.custom-size-detail-item h2 {
  font-size: 20px;
  margin: 10px 0;
}

.custom-size-product-image {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-size-detail-item select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

.custom-size-detail-item button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.custom-bill-size {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.custom-bill-detail-size {
  text-align: center;
}

.custom-bill-detail-size h2 {
  font-size: 24px;
  margin: 10px 0;
}

.custom-bill-detail-size strong {
  font-weight: bold;
}

.custom-cancel-size {
  text-align: center;
}

.custom-cancel-size button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.size-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.size-button:hover {
  background-color: #218838;
}

.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-title {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.custom-option ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-option li {
  margin: 0 20px;
}

.custom-option a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.custom-option a:hover {
  color: green;
}