.voucher-page {
    padding: 10px 40px;
    margin: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    width: 90%;
}

.voucher-page-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.voucher-name,
.voucher-des,
.voucher-discount,
.voucher-date {
    color: black;
    margin: 0;
}

.voucher-des-title,
.voucher-discount-title {
    color: #4CAF50;
    margin: 0;
}

.voucher-date {
    text-align: justify;
}

.voucher-info-section {
    display: flex;
}